<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your email</title>
    <style>
        #title{
            background-color: rgb(15 118 110);
            color: white;
            padding: 10px;
        }
        p {
            padding-left: 11px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1 id="title">Gorilla Fund</h1>
    <p>Please verify your email. Copy below code and use that for verify your email.</p>
    <p id="code">{{code}}</p>
</body>
</html>